@model IEnumerable<Buoi17_First.Entities.HangHoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên hàng hóa
            </th>
            <th>
                Mô tả đơn vị
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Ngày sản xuất
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Số lần xem
            </th>
            <th>
                Danh mục
            </th>
            <th>
                Nhà cung cấp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTaDonVi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    <img src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHh" height="100" />
                </td>
                <td>
                    @item.NgaySx.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiamGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLanXem)
                </td>
                <td>
                    @item.MaLoaiNavigation.TenLoai
                </td>
                <td>
                    @item.MaNccNavigation.TenCongTy
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHh">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaHh">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHh">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
