@model IEnumerable<Buoi17_First.Models.KetQuaTimKiemViewModel>
@{
    ViewData["Title"] = "TimKiem";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />

<h1>Tim Kiếm Hàng Hóa</h1>
<form asp-action="TimKiem">
    Cần tìm: <input name="Keyword" placeholder="search" />
    Giá từ: <input name="FormPrice" type="number" step="0.01" min="0" />
    Giá đến: <input name="ToPrice" type="number" step="0.01" min="0" />
    <button class="btn btn-primary">Tìm</button>
</form>
@if (Model != null)
{
    <h2 style="margin-top: 40px">Kết quả tìm kiếm</h2>
    <h4 class="text-danger">Có @Model.Count() hàng hóa</h4>
    <table id="result" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tên hàng hóa</th>
                <th>Đơn giá</th>
                <th>Ngày sản xuất</th>
                <th>Loại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenHh</td>
                    <td>@item.DonGia.ToString("#, ##0.00")</td>
                    <td>@item.NgaySX.ToString("dd/MM/yyyy")</td>
                    <td>@item.Loai</td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts {
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
<script>
    $(document).ready( function () {
            $('#result').DataTable();
        });
</script>
}