@model IEnumerable<Buoi17_First.Models.KetQuaTimKiemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã hàng hóa
            </th>
            <th>
                Mô tả đơn vị
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Hình ảnh
            </th>
           
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHh">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaHh">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHh">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
