@model IEnumerable<Buoi17_First.Entities.Loai>

@{
    ViewData["Title"] = "Index";
}
<h1>Danh sách Loại</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới loại</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên loại
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tùy chọn
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.Raw(item.MoTa)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Hinh)*@
                <img src="~/Hinh/Loai/@item.Hinh" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLoai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLoai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
